name: Test Blob From Python

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install azure-storage-blob

      - name: Run blob test
        env:
          AZURE_STORAGE_SAS: "sv=2024-11-04&ss=b&srt=sco&sp=rltfx&se=2027-02-27T14:50:19Z&st=2026-02-27T06:35:19Z&spr=https&sig=MX8p4xrnvTgCXJaY8VRT2TaW4htpoQW8h0Mld9oS0Io%3D"
        run: python test_blob.py
