name: Pruebas manuales5

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Rama a testear'
        required: true
        default: 'main'

jobs:
  run-on-branch:
    name: Ejecutar en la rama especificada
    runs-on: ubuntu-latest
    steps:
      - name: Checkout de la rama seleccionada
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Mostrar archivos (ejemplo)
        run: |
          echo "Trabajando sobre la rama '${{ github.event.inputs.branch }}'"
          ls -R .

      # Aquí puedes añadir tus pasos de build, test o deploy
