name: Test Blob From Python

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install azure-storage-blob

      - name: Run blob test
        env:
          AZURE_STORAGE_SAS: "sv=2024-11-04&ss=b&srt=sco&sp=rltfx&se=2027-02-28T00:49:29Z&st=2026-02-27T16:34:29Z&spr=https&sig=WqZ44eBrZDdXivSPfxKm7M5zFh298U0e%2Fy5p5TLo6qY%3D"
        run: python test_blob.py
